<section class="advantages" id="advantages">
	<div class="container">
		<h2 class="advantages__title title anim-item">
			Why should you go with us?
		</h2>
	</div>
	<span class="advantages__decor decor anim-item"></span>

	<div class="container">
		<ul class="advantages__content">
			<li class="advantages__item anim-item _anim-no-hide">
				<div class="advantages__element">
					<h3 class="advantages__subtitle">
						We respect Elbrus
					</h3>
					<div class="advantages__text anim-item _anim-no-hide">
						<p>
							Climbing Elbrus is a serious event that needs to be properly prepared.
							Prepare for both the participants and the organizers, because only joint actions can provide maximum
							result. We do not put the ascent on the conveyor, because then the risk of deficiencies. We only have a
							few dates a year, but we prepare well for them. And you too get ready. Only together.
						</p>
					</div>
				</div>
				<div class="advantages__box">
					<svg class="advantages__img">
						<use xlink:href="img/sprite.svg#hand"></use>
					</svg>
				</div>
			</li>

			<li class="advantages__item  anim-item _anim-no-hide">
				<div class="advantages__element advantages__element--arm">
					<h3 class="advantages__subtitle">
						Experienced Alpenist Instrustors
					</h3>
					<div class="advantages__text anim-item _anim-no-hide">
						<p>
							With a group of 5 people or more, two experienced guides work, whose main task is not only to help all
							participants climb to the top, but also to ensure safety on the descent.
						</p>
					</div>
				</div>
				<div class="advantages__box">
					<svg class="advantages__img">
						<use xlink:href="img/sprite.svg#arm"></use>
					</svg>
				</div>
			</li>

			<li class="advantages__item  anim-item _anim-no-hide">
				<div class="advantages__element">
					<h3 class="advantages__subtitle">
						Warranty guarantee
					</h3>
					<div class="advantages__text anim-item _anim-no-hide">
						<p>
							We do not set many dates, but for all the dates that we have, groups are recruited. If you bought a
							ticket, then you will go to the ascent.
						</p>
					</div>
				</div>
				<div class="advantages__box">
					<svg class="advantages__img">
						<use xlink:href="img/sprite.svg#100"></use>
					</svg>
				</div>
			</li>

			<li class="advantages__item  anim-item _anim-no-hide">
				<div class="advantages__element">
					<h3 class="advantages__subtitle">
						Maximum safety
					</h3>
					<div class="advantages__text anim-item _anim-no-hide">
						<p>
							It is safety that is a priority in all our ascents. We register groups with the Ministry of Emergency
							Situations, provide communication facilities and GPS, and we work with the group from two experienced
							guides.
						</p>
					</div>
				</div>
				<div class="advantages__box">
					<svg class="advantages__img">
						<use xlink:href="img/sprite.svg#shield"></use>
					</svg>
				</div>
			</li>

			<li class="advantages__item  anim-item _anim-no-hide">
				<div class="advantages__element">
					<h3 class="advantages__subtitle">
						Focus on the result
					</h3>
					<div class="advantages__text anim-item _anim-no-hide">
						<p>
							We really want all of our participants to climb to the top, but this is not always the case. Much depends
							on the weather and personal well-being. We are really trying to help everyone ascend, but not at the
							expense of safety.
						</p>
					</div>
				</div>
				<div class="advantages__box">
					<svg class="advantages__img">
						<use xlink:href="img/sprite.svg#letsGo"></use>
					</svg>
				</div>
			</li>

			<li class="advantages__item  anim-item _anim-no-hide">
				<div class="advantages__element">
					<h3 class="advantages__subtitle">
						We take the whole organization
					</h3>
					<div class="advantages__text anim-item _anim-no-hide">
						<p>
							We will help you with advice and business with preparation, with the selection and purchase of equipment.
						</p>
					</div>
				</div>
				<div class="advantages__box">
					<svg class="advantages__img">
						<use xlink:href="img/sprite.svg#checkAdv"></use>
					</svg>
				</div>
			</li>
		</ul>
	</div>
</section>