<section class="advantages" id="advantages">
	<div class="container">
		<h2 class="advantages__title title anim-item">
			Почему стоит пойти с нами?
		</h2>
	</div>
	<span class="advantages__decor decor anim-item"></span>

	<div class="container">
		<ul class="advantages__content">
			<li class="advantages__item anim-item _anim-no-hide">
				<div class="advantages__element">
					<h3 class="advantages__subtitle">
						Мы уважаем Эльбрус
					</h3>
					<div class="advantages__text anim-item _anim-no-hide">
						<p>
							Восхождение на Эльбрус - это серьезное мероприятие, к которому надо подобающим образом готовиться.
							Готовиться как участникам, так и организаторам, ведь только совместные действия смогут обеспечить
							максимальный результат. Мы не ставим восхождения на конвеер, ведь тогда в значительной мере повышается
							риск недоработок. У нас всего несколько дат в году, но зато мы хорошо готовимся к ним. И вы тоже
							готовьтесь. Только вместе.
						</p>
					</div>
				</div>
				<div class="advantages__box">
					<svg class="advantages__img">
						<use xlink:href="img/sprite.svg#hand"></use>
					</svg>
				</div>
			</li>

			<li class="advantages__item  anim-item _anim-no-hide">
				<div class="advantages__element advantages__element--arm">
					<h3 class="advantages__subtitle">
						Опытные инструкторы-альпенисты
					</h3>
					<div class="advantages__text anim-item _anim-no-hide">
						<p>
							С группой от 5 человек работает два опытных гида, главная задача которых не только помочь взойти на
							вершину всем участника, но и обеспечить безопасность на спуске.
						</p>
					</div>
				</div>
				<div class="advantages__box">
					<svg class="advantages__img">
						<use xlink:href="img/sprite.svg#arm"></use>
					</svg>
				</div>
			</li>

			<li class="advantages__item  anim-item _anim-no-hide">
				<div class="advantages__element">
					<h3 class="advantages__subtitle">
						Гарантия похода
					</h3>
					<div class="advantages__text anim-item _anim-no-hide">
						<p>
							Мы не ставим много дат, но на все даты, которые
							у нас стоят, группы набираются. Если Вы купили билет, то Вы пойдете в восхождение.
						</p>
					</div>
				</div>
				<div class="advantages__box">
					<svg class="advantages__img">
						<use xlink:href="img/sprite.svg#100"></use>
					</svg>
				</div>
			</li>

			<li class="advantages__item anim-item _anim-no-hide">
				<div class="advantages__element">
					<h3 class="advantages__subtitle">
						Максимальная безопасность
					</h3>
					<div class="advantages__text anim-item _anim-no-hide">
						<p>
							Именно безопасность является приоритетной
							во всех наших восхождениях. Мы регистрируем группы в МЧС, обеспечиваем средствами связи и GPS, с группой
							работает от двух опытных гидов.
						</p>
					</div>
				</div>
				<div class="advantages__box">
					<svg class="advantages__img">
						<use xlink:href="img/sprite.svg#shield"></use>
					</svg>
				</div>
			</li>

			<li class="advantages__item anim-item _anim-no-hide">
				<div class="advantages__element">
					<h3 class="advantages__subtitle">
						Нацеленность на результат
					</h3>
					<div class="advantages__text anim-item _anim-no-hide">
						<p>
							Мы очень хотим, чтобы все наши участники взошли на вершину, но это не всегда так. Многое зависит от погоды
							и личного самочувствия. Мы действительно стараемся помочь взойти всем, но не в ущерб безопасности.
						</p>
					</div>
				</div>
				<div class="advantages__box">
					<svg class="advantages__img">
						<use xlink:href="img/sprite.svg#letsGo"></use>
					</svg>
				</div>
			</li>

			<li class="advantages__item anim-item _anim-no-hide">
				<div class="advantages__element">
					<h3 class="advantages__subtitle">
						Всю организацию берем на себя
					</h3>
					<div class="advantages__text anim-item _anim-no-hide">
						<p>
							Поможем советом и делом с подготовкой, с подбором и покупкой снаряжения.
						</p>
					</div>
				</div>
				<div class="advantages__box">
					<svg class="advantages__img">
						<use xlink:href="img/sprite.svg#checkAdv"></use>
					</svg>
				</div>
			</li>
		</ul>
	</div>
</section>