<section class="faq" id="faq">
	<div class="container">
		<div class="faq__title title anim-item">
			Fraquent question
		</div>
	</div>
	<div class="faq__decor decor anim-item"></div>
	<div class="faq__container container">

		<ul class="faq__list">
			<li class="faq__item">
				<div class="faq__button closed">
					<span class="faq__subtitle">
						What's included in the price?
					</span>
					<svg class="faq__arrow">
						<use xlink:href="img/sprite.svg#spoller"></use>
					</svg>
				</div>
				<div class="faq__text">
					<p>
						On the other hand, the new model of organizational activity allows you to perform important tasks for the
						development of systems of mass participation. Likewise, the implementation of the planned targets largely
						determines the creation of new proposals. Ideological considerations of a higher order, as well as constant
						information and propaganda support of our activities, allow us to carry out important tasks in the
						development of significant financial and administrative conditions. The task of the organization, in
						particular the consultation with a broad asset, requires us to analyze the systems of mass participation. We
						should not, however, forget that constant quantitative growth and the scope of our activity require the
						definition and refinement of the development model.
					</p>
				</div>
			</li>

			<li class="faq__item">
				<div class="faq__button closed">
					<span class="faq__subtitle">
						What kind of insurance to get?
					</span>
					<svg class="faq__arrow">
						<use xlink:href="img/sprite.svg#spoller"></use>
					</svg>
				</div>
				<div class="faq__text">
					<p>
						My soul is illuminated with unearthly joy, like these wonderful spring mornings, which I enjoy with all my
						heart. I am all alone and blissful in this land, as if created for people like me. I am so happy, my friend,
						so intoxicated by the feeling of peace, that my art suffers from it. I could not have done a single stroke,
						and I have never been such a great artist as at these moments. When steam rises from my sweet valley and the
						midday sun stands over the impenetrable thicket of the dark forest and only a rare ray slips into its holy
						of holies, and I lie in the tall grass by the fast stream and, snuggling
					</p>
				</div>
			</li>

			<li class="faq__item">
				<div class="faq__button closed">
					<span class="faq__subtitle">
						Weather conditions on the route
					</span>
					<svg class="faq__arrow">
						<use xlink:href="img/sprite.svg#spoller"></use>
					</svg>
				</div>
				<div class="faq__text">
					<p>
						Loving, eat the tongs, - the mayor will sigh, - the buzz is burning. The chef is furious at the pincers with
						the echo of Goodbye Jules. Hey, goon! Where is the ace? Hide the young tenants in the closet. Ex-Count? The
						plush was withdrawn. We beat horsetail alien to prices! Eh, stranger! General removal of prices for hats
						(yuft) - splashed! Loving, eat the tongs, - the mayor will sigh, - the buzz is burning. The chef is furious
						at the pincers with the echo of Goodbye Jules. Hey, goon! Where is the ace? Hide the young tenants in the
						closet. Ex-Count? The plush was withdrawn. We beat horsetail alien to prices! Eh, stranger! General removal
						of prices for hats (yuft) - splashed! Loving, eat tongs, - the mayor will sigh, - the buzz is burning. Chef
						pissed off pincers with echo goodbye
					</p>
				</div>
			</li>

			<li class="faq__item">
				<div class="faq__button closed">
					<span class="faq__subtitle">
						Equipment rental
					</span>
					<svg class="faq__arrow">
						<use xlink:href="img/sprite.svg#spoller"></use>
					</svg>
				</div>
				<div class="faq__text">
					<p>
						Waking up one morning after a restless sleep, Gregor Samsa found that he had turned into a terrible insect
						in his bed. Lying on a hard-shell back, he saw, as soon as he raised his head, his brown, convex belly,
						divided by arcuate scales, on the top of which the blanket, ready to finally slide off, could hardly be
						held. His numerous legs, wretchedly thin in comparison with the rest of his body, crawled helplessly before
						his eyes. "What happened to me?" He thought. It was not a dream. His room, a real, perhaps too small, but
						ordinary room, peacefully rested in its four well-known walls.
					</p>
				</div>
			</li>

			<li class="faq__item">
				<div class="faq__button closed">
					<span class="faq__subtitle faq__subtitle--physical">
						Physical preparation for the ascent
					</span>
					<svg class="faq__arrow">
						<use xlink:href="img/sprite.svg#spoller"></use>
					</svg>
				</div>
				<div class="faq__text">
					<p>
						We strongly recommend that you carefully approach the issue of preparation. Start running three months
						before the planned climb. It is good if you can run 10 km at a calm pace and not be exhausted. Don't try to
						run fast, try to run longer. If it is possible to measure the pulse, run on the pulse in the region of
						130-140 beats per minute. If this is not possible, run at a pace at which you can speak.
					</p>
				</div>
			</li>

			<li class="faq__item">
				<div class="faq__button closed">
					<span class="faq__subtitle faq__subtitle--optimal">
						Optimal climbing season
					</span>
					<svg class="faq__arrow">
						<use xlink:href="img/sprite.svg#spoller"></use>
					</svg>
				</div>
				<div class="faq__text">
					<p>
						Far, far beyond the mountains of words, in the land of vowels and consonants, fish texts live. Far away from
						everyone, they live in letter houses on the shore of the Semantics of the great linguistic ocean. A small
						brook Dahl gurgles throughout the country and provides it with all the necessary rules. This is a
						paradigmatic country in which the fried members of the sentence fly right into the mouth. Even omnipotent
						punctuation has no power over fishy texts that lead a non-pictorial lifestyle. One day, one small line of a
						fishy text named Lorem ipsum decided to enter the big world of grammar. Great Oxmox warned her about evil
						commas, wild question marks and insidious semicolons, but the text did not let her get knocked down
					</p>
				</div>
			</li>
		</ul>

	</div>
</section>