<section class="faq" id="faq">
	<div class="container">
		<div class="faq__title title anim-item">
			Частые вопросы
		</div>
	</div>

	<div class="faq__decor decor anim-item"></div>

	<div class="faq__container container">
		<ul class="faq__list">
			<li class="faq__item">
				<div class="faq__button closed">
					<span class="faq__subtitle">
						Что входит в стоимость?
					</span>
					<svg class="faq__arrow">
						<use xlink:href="img/sprite.svg#spoller"></use>
					</svg>
				</div>
				<div class="faq__text">
					<p>
						С другой стороны новая модель организационной деятельности позволяет выполнять важные задания по разработке
						систем массового участия. Равным образом реализация намеченных плановых заданий в значительной степени
						обуславливает создание новых предложений. Идейные соображения высшего порядка, а также постоянное
						информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по
						разработке существенных финансовых и административных условий. Задача организации, в особенности же
						консультация с широким активом требуют от нас анализа систем массового участия. Не следует, однако забывать,
						что постоянный количественный рост и сфера нашей активности требуют определения и уточнения модели развития.
					</p>
				</div>
			</li>

			<li class="faq__item">
				<div class="faq__button closed">
					<span class="faq__subtitle">
						Какую страховку оформить?
					</span>
					<svg class="faq__arrow">
						<use xlink:href="img/sprite.svg#spoller"></use>
					</svg>
				</div>
				<div class="faq__text">
					<p>
						Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца.
						Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так
						упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда
						не был таким большим художником, как в эти минуты. Когда от милой моей долины поднимается пар и полдневное
						солнце стоит над непроницаемой чащей темного леса и лишь редкий луч проскальзывает в его святая святых, а я
						лежу в высокой траве у быстрого ручья и, прильнув
					</p>
				</div>
			</li>

			<li class="faq__item">
				<div class="faq__button closed">
					<span class="faq__subtitle">
						Погодные условия на маршруте
					</span>
					<svg class="faq__arrow">
						<use xlink:href="img/sprite.svg#spoller"></use>
					</svg>
				</div>
				<div class="faq__text">
					<p>
						Любя, съешь щипцы, — вздохнёт мэр, — кайф жгуч. Шеф взъярён тчк щипцы с эхом гудбай Жюль. Эй, жлоб! Где туз?
						Прячь юных съёмщиц в шкаф. Экс-граф? Плюш изъят. Бьём чуждый цен хвощ! Эх, чужак! Общий съём цен шляп (юфть)
						— вдрызг! Любя, съешь щипцы, — вздохнёт мэр, — кайф жгуч. Шеф взъярён тчк щипцы с эхом гудбай Жюль. Эй,
						жлоб! Где туз? Прячь юных съёмщиц в шкаф. Экс-граф? Плюш изъят. Бьём чуждый цен хвощ! Эх, чужак! Общий съём
						цен шляп (юфть) — вдрызг!Любя, съешь щипцы, — вздохнёт мэр, — кайф жгуч. Шеф взъярён тчк щипцы с эхом гудбай
					</p>
				</div>
			</li>

			<li class="faq__item">
				<div class="faq__button closed">
					<span class="faq__subtitle">
						Прокат снаряжения
					</span>
					<svg class="faq__arrow">
						<use xlink:href="img/sprite.svg#spoller"></use>
					</svg>
				</div>
				<div class="faq__text">
					<p>
						Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели
						превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову,
						свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось
						готовое вот-вот окончательно сползти одеяло. Его многочисленные, убого тонкие по сравнению с остальным телом
						ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он. Это не было сном.
						Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех
						хорошо знакомых стенах.
					</p>
				</div>
			</li>

			<li class="faq__item">
				<div class="faq__button closed">
					<span class="faq__subtitle faq__subtitle--physical">
						Физическая подготовка к восхождению
					</span>
					<svg class="faq__arrow">
						<use xlink:href="img/sprite.svg#spoller"></use>
					</svg>
				</div>
				<div class="faq__text">
					<p>
						Настоятельно рекомендуем тщательно подойти к вопросу подготовки. Начните бегать месяца за три до
						планируемого восхождения. Хорошо, если вы можете пробежать 10 км в спокойном темпе и не выбиться из сил. Не
						старайтесь бежать быстро, старайтесь бежать дольше. Если есть возможность измерять пульс – бегите на пульсе
						в районе 130-140 ударов в минуту. Если такой возможности нет – бегите в темпе, при котором сможете говорить.
					</p>
				</div>
			</li>

			<li class="faq__item">
				<div class="faq__button closed">
					<span class="faq__subtitle faq__subtitle--optimal">
						Оптимальный сезон для восхождений
					</span>
					<svg class="faq__arrow">
						<use xlink:href="img/sprite.svg#spoller"></use>
					</svg>
				</div>
				<div class="faq__text">
					<p>
						Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они
						в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране
						и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены
						предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими
						безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила
						выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и
						коварных точках с запятой, но текст не дал сбить
					</p>
				</div>
			</li>
		</ul>

	</div>
</section>