<section class="hero" id="hero" style="background-image: url(img/bg/bg-main.jpg);">
	<div class="container">
		<div class="hero__wrapper">
			@@include('../header/header.html',{})

			<div class="slider">
				<ul class="slider__wrapper">
					<li class="slider__slide">
						<div class="slider__title">
							<span class="slider__subtitle">Эльбрус</span>
							<div class="slider__text">
								<p>
									Групповые и индивидуальные восхождения на самую высокую горную вершину Европы
								</p>
							</div>
						</div>
						<button class="slider__button button popup-link" href="#request-popup" type="button">Приобрести тур</button>
					</li>

					<li class="slider__slide">
						<div class="slider__title">
							<span class="slider__subtitle">Эверест</span>
							<div class="slider__text">
								<p>
									Групповые и индивидуальные восхождения на самую высокую горную вершину мира
								</p>
							</div>
						</div>
						<button class="slider__button button popup-link" href="#request-popup" type="button">Приобрести тур</button>
					</li>

					<li class="slider__slide">
						<div class="slider__title">
							<span class="slider__subtitle">Казбек</span>
							<div class="slider__text">
								<p>
									Групповые и индивидуальные восхождения на самый восточный пятитысячник Кавказа
								</p>
							</div>
						</div>
						<button class="slider__button button popup-link" href="#request-popup" type="button">Приобрести тур</button>
					</li>

					<li class="slider__slide">
						<div class="slider__title">
							<span class="slider__subtitle">Фудзияма</span>
							<div class="slider__text">
								<p>
									Групповые и индивидуальные восхождения на самую высокую горную вершину Японии
								</p>
							</div>
						</div>
						<button class="slider__button button popup-link" href="#request-popup" type="button">Приобрести тур</button>
					</li>

					<li class="slider__slide">
						<div class="slider__title">
							<span class="slider__subtitle">Эверест</span>
							<div class="slider__text">
								<p>
									Групповые и индивидуальные восхождения на самую высокую горную вершину мира
								</p>
							</div>
						</div>
						<button class="slider__button button popup-link" href="#request-popup" type="button">Приобрести тур</button>
					</li>

					<li class="slider__slide">
						<div class="slider__title">
							<span class="slider__subtitle">Казбек</span>
							<div class="slider__text">
								<p>
									Групповые и индивидуальные восхождения на самый восточный пятитысячник Кавказа
								</p>
							</div>
						</div>
						<button class="slider__button button popup-link" href="#request-popup" type="button">Приобрести тур</button>
					</li>
				</ul>

				<div class="slider__scrollbar swiper-scrollbar"></div>

				<div class="slider__pagination"></div>
			</div>

			<a class="hero__anchor _goto" data-goto=".itineraries" href="#">
			</a>
		</div>
	</div>
</section>