<section class="hero" id="hero" style="background-image: url(img/bg/bg-main.jpg);">
	<div class="container">
		<div class="hero__wrapper">
			@@include('../header/header-en.html',{})

			<div class="slider">
				<ul class="slider__wrapper">
					<li class="slider__slide">
						<div class="slider__title">
							<span class="slider__subtitle">Elbrus</span>
							<div class="slider__text">
								<p>
									Group and individual ascents on the highest mountain peak of Europe
								</p>
							</div>
						</div>
						<button class="slider__button button popup-link" href="#request-popup" type="button">Buy a tour</button>
					</li>

					<li class="slider__slide">
						<div class="slider__title">
							<span class="slider__subtitle">Everest</span>
							<div class="slider__text">
								<p>
									Group and individual ascents on the highest mountain peak of the world
								</p>
							</div>
						</div>
						<button class="slider__button button popup-link" href="#request-popup" type="button">Buy a tour</button>
					</li>

					<li class="slider__slide">
						<div class="slider__title">
							<span class="slider__subtitle">Kazbek</span>
							<div class="slider__text">
								<p>
									Group and individual ascents on the Eastern Five Thairs of the Caucasus
								</p>
							</div>
						</div>
						<button class="slider__button button popup-link" href="#request-popup" type="button">Buy a tour</button>
					</li>

					<li class="slider__slide">
						<div class="slider__title">
							<span class="slider__subtitle">Fujiyama</span>
							<div class="slider__text">
								<p>
									Group and individual ascents on the highest mountain peak of Japan
								</p>
							</div>
						</div>
						<button class="slider__button button popup-link" href="#request-popup" type="button">Buy a tour</button>
					</li>

					<li class="slider__slide">
						<div class="slider__title">
							<span class="slider__subtitle">Everest</span>
							<div class="slider__text">
								<p>
									Group and individual ascents on the highest mountain peak of the world
								</p>
							</div>
						</div>
						<button class="slider__button button popup-link" href="#request-popup" type="button">Buy a tour</button>
					</li>

					<li class="slider__slide">
						<div class="slider__title">
							<span class="slider__subtitle">Kazbek</span>
							<div class="slider__text">
								<p>
									Group and individual ascents on the Eastern Five Thairs of the Caucasus
								</p>
							</div>
						</div>
						<button class="slider__button button popup-link" href="#request-popup" type="button">Buy a tour</button>
					</li>

				</ul>
				<div class="slider__scrollbar swiper-scrollbar"></div>

				<div class="slider__pagination"></div>
			</div>

			<a class="hero__anchor _goto" data-goto=".itineraries" href="#">
			</a>
		</div>
	</div>
</section>