<footer class="footer" id="footer">

	<div class="footer__wrapper">
		<div class="container">
			<div class="footer__inner">

				<div class="footer__top">
					<a class="footer__logo logo _goto" data-goto=".hero" href="#">
						<img class="footer__img logo__img" src="img/logo.png" alt="logo">
					</a>

					<nav class="footer__nav">
						<ul class="footer__unit footer__menu">
							<li class="footer__menu-item">
								<a class="footer__menu-link _goto" data-goto=".hero" href="#">Home</a>
							</li>

							<li class="footer__menu-item">
								<a class="footer__menu-link _goto" data-goto=".itineraries" href="#">Itinerary</a>
							</li>

							<li class="footer__menu-item">
								<a class="footer__menu-link _goto" data-goto=".advantages" href="#">About us</a>
							</li>

							<li class="footer__menu-item">
								<a class="footer__menu-link _goto" data-goto=".gallery" href="#">Gallery</a>
							</li>

							<li class="footer__menu-item">
								<a class="footer__menu-link _goto" data-goto=".reviews" href="#">Reviews</a>
							</li>

							<li class="footer__menu-item">
								<a class="footer__menu-link _goto" data-goto=".faq" href="#">Fraquent question</a>
							</li>
						</ul>
					</nav>

					<div class="footer__unit footer__unit--contacts">
						<div class="footer__title">How to contact us</div>
						<a class="footer__contact" href="tel:+380968673444">+380(96)867-34-44</a>
						<a class="footer__contact" href="mailto:infocenter@gmail.com">infocenter@gmail.com</a>
					</div>

					<address class="footer__unit footer__unit--address">
						<div class="footer__title">Address</div>
						<div class="footer__street">
							<p>Kiev, Khreshchatyk 1a, 5th floor, office 515</p>
						</div>
						<ul class="footer__operation">
							<li class="footer__times">
								<span class="footer__days">Mon - Fri</span>
								08:00-19:00
							</li>

							<li class="footer__times">
								<span class="footer__days">Sat - Sun</span>
								10:00-20:00
							</li>
						</ul>
					</address>

					<div class="footer__unit footer__unit--social">
						<div class="footer__title">We are in social networks</div>
						<ul class="footer__networks">
							<li class="footer__network">
								<a class="footer__icon" href="#">
									<svg class="footer__image">
										<use xlink:href="img/sprite.svg#instagram"></use>
									</svg>
								</a>
							</li>

							<li class="footer__network">
								<a class="footer__icon" href="#">
									<svg class="footer__image">
										<use xlink:href="img/sprite.svg#facebook"></use>
									</svg>
								</a>
							</li>

							<li class="footer__network">
								<a class="footer__icon" href="#">
									<svg class="footer__image">
										<use xlink:href="img/sprite.svg#twiter"></use>
									</svg>
								</a>
							</li>

							<li class="footer__network">
								<a class="footer__icon" href="#">
									<svg class="footer__image">
										<use xlink:href="img/sprite.svg#vk"></use>
									</svg>
								</a>
							</li>

							<li class="footer__network">
								<a class="footer__icon" href="#">
									<svg class="footer__image">
										<use xlink:href="img/sprite.svg#linkedin"></use>
									</svg>
								</a>
							</li>
						</ul>
					</div>

					<div class="footer__unit footer__unit--payments">
						<div class="footer__title">We accept payment</div>
						<div class="footer__payments">
							<img class="footer__cart" src="img/sprite/visa.svg" alt="Visa">
							<img class="footer__cart" src="img/sprite/mastercard.svg" alt="Mastercard">
						</div>
					</div>
				</div>

				<form class="footer__form">
					<div class="footer__item footer__item--subscription">
						<svg class="footer__envelope">
							<use xlink:href="img/sprite.svg#envelope"></use>
						</svg>
						Be the first to know about new tours
					</div>

					<div class="footer__item footer__item--email">

						<div class="footer__chest">
							<label class="footer__label">
								<input class="footer__input" type="e-mail" name="e-mail" placeholder="E-mail Address" autocomplete="off"
									required />
							</label>
							<button class="footer__arrow" type="submit">
								<svg class="footer__link">
									<use xlink:href="img/sprite.svg#long-arrow"></use>
								</svg>
							</button>
						</div>

						<label class="footer__check _active">
							<input class="footer__checkbox" type="checkbox" />
							<span class="sr-only">Accept agreement</span>
							I agree to
							<span class="footer__span">
								processing of personal data
							</span>
						</label>
					</div>

					<button class="footer__item footer__item--btn" type="submit">
						Subscribe to the newsletter
					</button>
				</form>

				<div class="footer__bottom">
					<a class="footer__block popup-link" href="#consent-popup">
						<svg class="footer__picture">
							<use xlink:href="img/sprite.svg#user-1"></use>
						</svg>Consent to the processing of personal data
					</a>
					<a class="footer__block popup-link" href="#policy-popup">
						<svg class="footer__picture footer__picture--policy">
							<use xlink:href="img/sprite.svg#lock"></use>
						</svg>Privacy Policy
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__copy">
		Copyright 2021
	</div>
</footer>