<article class="card-popup__content">

	<div class="card-popup__main">
		<img class="card-popup__image" src="../../img/cards/kazbek.jpg" alt="Казбек">
		<h4 class="card-popup__title title">Climbing on Kazbek
			<span class="card-popup__title-bottom">
				and Elbrus
			</span>
		</h4>

		<div class="card-popup__text">
			<p>
				Climbing Kazbek and Elbrus is a unique opportunity to climb two times in one trip
				five-thousanders of the Caucasus: Kazbek (5033 m) - the most famous Georgian peak and Elbrus (5642 m) - the
				highest point
				Europe and the Caucasus Mountains. In addition to climbing, you can enjoy many picturesque places of the
				Caucasus,
				get acquainted with Georgian and Balkar flavor
				and kitchen!
			</p>
			<p>
				Despite the duration of the program and the height of the peaks, Kazbek and Elbrus are technically relatively
				simple and
				available tops. The ability to walk in crampons and in a bundle and previous climbing experience in large
				mountains is extremely
				desirable.
				Please note that we have other climbing programs to the top of Kazbek.
			</p>
		</div>
	</div>

	<ul class="card-popup__list">
		<li class="card-popup__item">
			<div class="card-popup__decor">
				<svg class="card-popup__icon">
					<use xlink:href="img/sprite.svg#experience"></use>
				</svg>
			</div>
			<p>
				Experience required
			</p>
		</li>

		<li class="card-popup__item">
			<div class="card-popup__decor">
				<svg class="card-popup__icon">
					<use xlink:href="img/sprite.svg#tent"></use>
				</svg>
			</div>
			<p>
				Overnight in tents
			</p>
		</li>

		<li class="card-popup__item">
			<div class="card-popup__decor">
				<svg class="card-popup__icon">
					<use xlink:href="img/sprite.svg#group"></use>
				</svg>
			</div>
			<p>
				Up to 7 people in the group
			</p>
		</li>
	</ul>

	<div class="card-popup__schedule">
		<span class="card-popup__subtitle title">
			Dates of climbing
		</span>

		<ul class="card-popup__dates">
			<li class="card-popup__date">11.07.2021</li>

			<li class="card-popup__date">15.08.2021</li>
		</ul>

		<div class="card-popup__individual">
			<p>
				Didn't find suitable dates?
			</p>
			<p>
				Contact manager for ordering an individual program
			</p>
		</div>
	</div>
</article>