<article class="card-popup__content">

	<div class="card-popup__main">
		<img class="card-popup__image" src="img/cards/elbrus.jpg" alt="Эльбрус">
		<h4 class="card-popup__title title">
			Восхождение на Эльбрус
			<span class="card-popup__title-bottom">
				с юга - по классике
			</span>
		</h4>

		<div class="card-popup__text">
			<p>
				Эльбрус с юга – мечта многих альпинистов и путешественников. Далеко не каждый сможет похвастаться восхождением
				на самую высокую вершину не только России, но и Европы. Наш поход разделен на две части: подготовительная,
				которая проходит по региону Приэльбрусья и дает возможность организму акклиматизироваться к большим высотам, и,
				собственно, само восхождение на Эльбрус.
			</p>
			<p>
				Это маршрут восхождения с юга на западную вершину. Если вы новичок в больших горах, то рекомендуем выбрать
				именно этот маршрут.
				Во время программы вы обучитесь основам альпинистской техники, нужной для восхождения по классическому пути.
				Весь маршрут очень насыщен и интересен, ведь тропинки проходят через самые живописные и удивительные места
				Кавказа. Присоединяйтесь!
			</p>
		</div>
	</div>

	<ul class="card-popup__list">
		<li class="card-popup__item">
			<div class="card-popup__decor">
				<svg class="card-popup__icon">
					<use xlink:href="img/sprite.svg#experience"></use>
				</svg>
			</div>
			<p>
				Можно без опыта
			</p>
		</li>

		<li class="card-popup__item">
			<div class="card-popup__decor">
				<svg class="card-popup__icon">
					<use xlink:href="img/sprite.svg#tent"></use>
				</svg>
			</div>
			<p>
				Ночлег в палатках
			</p>
		</li>

		<li class="card-popup__item">
			<div class="card-popup__decor">
				<svg class="card-popup__icon">
					<use xlink:href="img/sprite.svg#group"></use>
				</svg>
			</div>
			<p>
				До 15 чел в группе
			</p>
		</li>
	</ul>

	<div class="card-popup__schedule">
		<span class="card-popup__subtitle title">
			Даты восхождений
		</span>

		<ul class="card-popup__dates">
			<li class="card-popup__date">01.07.2021</li>

			<li class="card-popup__date">24.07.2021</li>

			<li class="card-popup__date">05.08.2021</li>

			<li class="card-popup__date">15.08.2021</li>
		</ul>

		<div class="card-popup__individual">
			<p>
				Не нашли подходящих дат?
			</p>
			<p>
				Свяжитесь с менеджером для заказа индивидуальной программы
			</p>
		</div>
	</div>
</article>