<article class="card-popup__content">

	<div class="card-popup__main">
		<img class="card-popup__image" src="img/cards/elbrus_north.jpg" alt="Северный Эльбрус">
		<h4 class="card-popup__title title">
			Elbrus from the North -
			<span class="card-popup__title-bottom">
				Eastern Top
			</span>
		</h4>

		<div class="card-popup__text">
			<p>
				Elbrus is the highest point in Europe, which by its nature is a long extinct stratovolcano. The mountain has two
				peaks (5642 and 5621 meters), separated by a saddle. We will climb to the lower, eastern peak. Big
				the area of the slopes is under the glaciers. Therefore, to climb Elbrus from the north, you must have a good
				physical training, basic skills of using an ice ax and crampons, movement in a bundle are welcomed.
			</p>
			<p>
				If you do not have such experience yet, then in the first days of our program there will be an opportunity to
				learn the basics of technology
				high-altitude mountaineering. A couple of extra days have been added to the route for better acclimatization and
				in case
				bad weather. After all, these are two of the most important factors in climbing such difficulty.
			</p>
		</div>
	</div>

	<ul class="card-popup__list">
		<li class="card-popup__item">
			<div class="card-popup__decor">
				<svg class="card-popup__icon">
					<use xlink:href="img/sprite.svg#experience"></use>
				</svg>
			</div>
			<p>
				Possible without experience
			</p>
		</li>

		<li class="card-popup__item">
			<div class="card-popup__decor">
				<svg class="card-popup__icon">
					<use xlink:href="img/sprite.svg#tent"></use>
				</svg>
			</div>
			<p>
				Overnight in tents
			</p>
		</li>

		<li class="card-popup__item">
			<div class="card-popup__decor">
				<svg class="card-popup__icon">
					<use xlink:href="img/sprite.svg#group"></use>
				</svg>
			</div>
			<p>
				Up to 10 people in the group
			</p>
		</li>
	</ul>

	<div class="card-popup__schedule">
		<span class="card-popup__subtitle title">
			Dates of climbing
		</span>

		<ul class="card-popup__dates">
			<li class="card-popup__date">15.07.2021</li>

			<li class="card-popup__date">29.07.2021</li>

			<li class="card-popup__date">12.08.2021</li>

			<li class="card-popup__date">26.08.2021</li>
		</ul>

		<div class="card-popup__individual">
			<p>
				Didn't find suitable dates?
			</p>
			<p>
				Contact manager for ordering an individual program
			</p>
		</div>
	</div>
</article>