<article class="card-popup__content">

	<div class="card-popup__main">
		<img class="card-popup__image" src="img/cards/kazbek.jpg" alt="Казбек">
		<h4 class="card-popup__title title">Восхождение на Казбек
			<span class="card-popup__title-bottom">
				и Эльбрус
			</span>
		</h4>

		<div class="card-popup__text">
			<p>
				Восхождение на Казбек и Эльбрус — это уникальная возможность подняться за одну поездку сразу на два
				пятитысячника Кавказа: Казбек (5033 м) — самая известная грузинская вершина и Эльбрус (5642 м) — высшая точка
				Европы и Кавказских гор. Кроме восхождений вы сможете насладиться многими живописными местами Кавказа,
				познакомиться с грузинским и балкарским колоритом
				и кухней!
			</p>
			<p>
				Не смотря на длительность программы и высоту вершин, Казбек и Эльбрус — технически относительно несложные и
				доступные вершины. Умение ходить в кошках и в связке и предыдущий опыт восхождений в больших горах крайне
				желательны.
				Обратите внимание, что у нас есть и другие программы восхождений на вершину Казбека.
			</p>
		</div>
	</div>

	<ul class="card-popup__list">
		<li class="card-popup__item">
			<div class="card-popup__decor">
				<svg class="card-popup__icon">
					<use xlink:href="img/sprite.svg#experience"></use>
				</svg>
			</div>
			<p>
				Необходим опыт
			</p>
		</li>

		<li class="card-popup__item">
			<div class="card-popup__decor">
				<svg class="card-popup__icon">
					<use xlink:href="img/sprite.svg#tent"></use>
				</svg>
			</div>
			<p>
				Ночлег в палатках
			</p>
		</li>

		<li class="card-popup__item">
			<div class="card-popup__decor">
				<svg class="card-popup__icon">
					<use xlink:href="img/sprite.svg#group"></use>
				</svg>
			</div>
			<p>
				До 7 чел в группе
			</p>
		</li>
	</ul>

	<div class="card-popup__schedule">
		<span class="card-popup__subtitle title">
			Даты восхождений
		</span>

		<ul class="card-popup__dates">
			<li class="card-popup__date">11.07.2021</li>

			<li class="card-popup__date">15.08.2021</li>
		</ul>

		<div class="card-popup__individual">
			<p>
				Не нашли подходящих дат?
			</p>
			<p>
				Свяжитесь с менеджером для заказа индивидуальной программы
			</p>
		</div>
	</div>
</article>