<article class="card-popup__content">

	<div class="card-popup__main">
		<img class="card-popup__image" src="img/cards/elbrus.jpg" alt="Эльбрус">
		<h4 class="card-popup__title title">
			Climbing on Elbrus
			<span class="card-popup__title-bottom">
				from the South by classic
			</span>
		</h4>

		<div class="card-popup__text">
			<p>
				Elbrus from the south is the dream of many climbers and travelers. Not everyone can boast of climbing
				to the highest peak not only in Russia, but also in Europe. Our trip is divided into two parts: preparatory,
				which runs through the Elbrus region and allows the body to acclimatize to high altitudes, and,
				in fact, the very ascent to Elbrus.
			</p>
			<p>
				This is an ascent route from the south to the western peak. If you are new to the big mountains, we recommend
				choosing
				exactly this route.
				During the program, you will learn the basics of mountaineering techniques needed to climb the classic path.
				The entire route is very rich and interesting, because the paths pass through the most picturesque and amazing
				places
				The Caucasus. Join us!
			</p>
		</div>
	</div>

	<ul class="card-popup__list">
		<li class="card-popup__item">
			<div class="card-popup__decor">
				<svg class="card-popup__icon">
					<use xlink:href="img/sprite.svg#experience"></use>
				</svg>
			</div>
			<p>
				Possible without experience
			</p>
		</li>

		<li class="card-popup__item">
			<div class="card-popup__decor">
				<svg class="card-popup__icon">
					<use xlink:href="img/sprite.svg#tent"></use>
				</svg>
			</div>
			<p>
				Overnight in tents
			</p>
		</li>

		<li class="card-popup__item">
			<div class="card-popup__decor">
				<svg class="card-popup__icon">
					<use xlink:href="img/sprite.svg#group"></use>
				</svg>
			</div>
			<p>
				Up to 15 people in the group
			</p>
		</li>
	</ul>

	<div class="card-popup__schedule">
		<span class="card-popup__subtitle title">
			Dates of climbing
		</span>

		<ul class="card-popup__dates">
			<li class="card-popup__date">01.07.2021</li>

			<li class="card-popup__date">24.07.2021</li>

			<li class="card-popup__date">05.08.2021</li>

			<li class="card-popup__date">15.08.2021</li>
		</ul>

		<div class="card-popup__individual">
			<p>
				Didn't find suitable dates?
			</p>
			<p>
				Contact manager for ordering an individual program
			</p>
		</div>
	</div>
</article>