<section class="itineraries" id="itineraries">
	<div class="container">
		<h2 class="itineraries__title title anim-item">
			Популярные маршруты
		</h2>
	</div>
	<span class="itineraries__decor decor anim-item"></span>

	<div class="itineraries__content" style="background-image: url(../../img/bg/earth.png);">
		<div class="itineraries-swiper">
			<ul class="itineraries-swiper__wrapper">
				<li class="itineraries-swiper__slide">
					@@include('../cards/card-1.html',{})
				</li>
				<li class="itineraries-swiper__slide">
					@@include('../cards/card-2.html',{})
				</li>
				<li class="itineraries-swiper__slide">
					@@include('../cards/card-3.html',{})
				</li>
			</ul>
			<div class="itineraries-pagination"></div>
		</div>

		<div class="container">
			<div class="itineraries__desc">
				<p>
					Если Вы не знаете, какой из маршрутов выбрать – напишите нам, и мы поможем Вам определиться.
				</p>
			</div>
			<div class="itineraries__text">
				<p>
					Начинающим рекомендуем восхождение с юга, более опытным и уверенным – с севера.
				</p>
				<p>
					Оба маршрута хорошо составлены и Вы получите достаточную акклиматизацию.
				</p>
			</div>
		</div>
	</div>
</section>