<section class="itineraries" id="itineraries">
	<div class="container">
		<h2 class="itineraries__title title anim-item">
			Popular itineraries
		</h2>
	</div>
	<span class="itineraries__decor decor anim-item"></span>

	<div class="itineraries__content" style="background-image: url(../../img/bg/earth.png);">
		<div class="itineraries-swiper">
			<ul class="itineraries-swiper__wrapper">
				<li class="itineraries-swiper__slide">
					@@include('../cards/card-1-en.html',{})
				</li>

				<li class="itineraries-swiper__slide">
					@@include('../cards/card-2-en.html',{})
				</li>

				<li class="itineraries-swiper__slide">
					@@include('../cards/card-3-en.html',{})
				</li>
			</ul>
			<div class="itineraries-pagination"></div>
		</div>

		<div class="container">
			<div class="itineraries__desc">
				<p>
					If you do not know which route to choose, write to us and we will help you decide.
				</p>
			</div>
			<div class="itineraries__text">
				<p>
					For beginners we recommend climbing from the south, more experienced and confident - from the north.
				</p>
				<p>
					Both routes are well planned and you will get sufficient acclimatization.
				</p>
			</div>
		</div>
	</div>
</section>