.form {
	// .form__item
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}
}

.input,
.textarea {
	width: 100%;
	display: block;
	@include Montserrat(400);
	font-size: 18px;
	color: $white;
	background-color: transparent;
	border: none;
	outline: none;
	padding: 0 10px 0 15px;
	transition: all $hoverTime ease;

	@include md {
		font-size: 16px;
	}

	@include sm {
		font-size: 12px;
		padding: 0 10px 0 10px;
	}

	&:focus {
		outline: transparent;
	}

	&::placeholder {
		@include Montserrat(400);
		font-size: 18px;
		color: $white;
	}
}

.textarea {
	resize: none;
}
