html,
body {
	height: 100%;
}

body {
	@include Montserrat(400);
	font-size: 24px;
	line-height: 1.3;
	background-color: $black-700;
	color: $white;

	&::-webkit-scrollbar {
		@include lg {
			display: none;
		}
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

._lock {
	overflow: hidden;
}

.container {
	max-width: $containerWidth;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.logo {
	position: relative;
	z-index: 0;
	max-width: 80px;
	width: 100%;
	min-height: 80px;
	flex-shrink: 0;
	flex-grow: 0;
	outline: none;
	transition: all $linkTime ease;

	&:before {
		content: "";
		position: absolute;
		z-index: 1;
		top: 0;
		height: 0;
		width: 100%;
		height: 100%;
		background-color: transparent;
	}

	@include md {
		max-width: 70px;
		min-height: 70px;
	}

	@include small-height {
		max-width: 40px;
		min-height: 40px;
	}
}

.logo-img {
	width: 80px;
	height: 80px;
	@include bg;
	transition: all $linkTime ease;

	@include md {
		width: 70px;
		height: 70px;
	}

	@include small-height {
		width: 40px;
		height: 40px;
	}
}

.burger {
	display: none;
	transition: all $hoverTime ease;

	@include lg {
		display: block;
		width: 40px;
		height: 23px;
		background-color: transparent;
		border: none;
		position: absolute;
		top: 50px;
		right: 30px;
		z-index: 133;
		cursor: pointer;

		&__middle,
		&::before,
		&::after {
			width: 100%;
			height: 2px;
			position: absolute;
			left: 0;
			background-color: $white;
			transition: all $hoverTime ease 0s;

			@include sm {
				height: 1px;
			}
		}

		&::before,
		&::after {
			content: "";
		}

		&__middle {
			width: 70%;
			top: 50%;
			left: 30%;
			transform: scale(1) translate(0, -50%);
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		&._active::before {
			top: 45%;
			transform: rotate(-45deg) translate(0, -50%);

			@include sm {
				top: 49%;
			}
		}

		&._active::after {
			bottom: 50%;
			transform: rotate(45deg) translate(0, 50%);
		}

		&._active .burger__middle {
			transform: scale(0) translate(0, -50%);
		}
	}

	@include sm {
		top: 40px;
		width: 30px;
		height: 15px;

		&__middle {
			top: 7px;
		}
	}

	@include small-height {
		top: 20px;
		width: 30px;
		height: 15px;

		&__middle {
			top: 7px;
		}
	}

	&.height-min {
		top: 20px;
		width: 30px;
		height: 15px;

		&__middle {
			top: 7px;
		}
	}
}

.popup-close {
	display: block;
	width: 22px;
	height: 22px;
	position: absolute;

	&::before,
	&::after {
		content: "";
		width: 100%;
		height: 3px;
		background-color: $white;
		position: absolute;
	}

	&::before {
		top: 2px;
		transform: rotate(-45deg) translate(0, -50%);
	}

	&::after {
		transform: rotate(45deg) translate(0, 50%);
	}
}

.button,
.btn-link {
	display: inline-block;
	box-sizing: border-box;
	@include line-clamp;
	max-width: 420px;
	width: 100%;
	font-weight: 600;
	text-align: center;
	padding: 20px 10px 20px 10px;
	position: relative;
	outline: none;
	background-color: $white-1;
	border: 2px solid $white;
	color: $white;
	margin: 0;
	transition: all $linkTime ease;

	@include sm {
		max-width: 290px;
		width: 100%;
		font-size: 18px;
		font-weight: 500;
		padding: 14px 10px 10px 10px;
	}

	@include lg-min {
		&:hover {
			background-color: $black-700;
			border-color: $black-700;
			box-shadow: 5px 5px 5px 0px $black-9;
		}

		&:focus {
			background-color: $black-700;
			border-color: transparent;
		}

		&:active {
			color: $white-300;
		}
	}
}

.title {
	@include Comfortaa(700);
	font-size: 48px;
	color: $white;

	@include md {
		font-size: 32px;
	}

	@include sm {
		font-size: 21px;
	}
}

.decor {
	display: block;
	height: 2px;
	margin: 0 15px 0 0;
	background-image: repeating-linear-gradient(
		to right,
		$white-150 0%,
		$white-150 50%,
		transparent 50%,
		transparent 100%
	);
	background-size: 30px;
	position: relative;

	&::after {
		content: "";
		display: block;
		width: 16px;
		height: 16px;
		border-radius: 8px;
		background-color: $white-150;
		position: absolute;
		top: -8px;
		right: 0;
	}
}
.anim-item {
	opacity: 0;
	transform: translate(0, -100%);
	transition: all 0.7s ease;

	&._animate {
		opacity: 1;
		transform: translate(0, 0);

		// &_animate {
		// 	opacity: 1;
		// 	transform: translate(0, 0);
		// }
	}
}
