$black-2: rgba(0, 0, 0, 0.2);
$black-9: rgba(0, 0, 0, 0.9);
$black-09: rgba(0, 0, 0, 0.09);
$black-850: rgba(0, 16, 39, 0.2);
$black-800: #001027;
$black-750: rgba(196, 196, 196, 0.1);
$black-700: #272a2f;
$black-650: rgba(39, 42, 47, 0.95);
$black-550: rgba(18, 24, 34, 0.7);
$grey-400: #9b9b9b;
$grey-300: #626262;
$grey-250: #5b5b5b;
$grey-200: #5b5b5b;
$teal-100: #10f6da;
$teal: #09e4c9;
$white-650: rgba(227, 227, 227, 0.6);
$white-600: #e0e0e0;
$white-400: #cacaca;
$white-300: #c9c9c9;
$white-200: #aeaeae;
$white-150: #969696;
$white-100: #999999;
$white-60: rgba(250, 250, 250, 0.6);
$white-50: rgba(250, 250, 250, 0.5);
$white-30: rgba(250, 250, 250, 0.3);
$white-25: rgba(250, 250, 250, 0.25);
$white-15: rgba(250, 250, 250, 0.15);
$white-1: rgba(250, 250, 250, 0.1);
$white: #ffffff;

$minWidth: 320px;
$maxWidth: 1920;
$containerWidth: 1330px;

$screen-xl: 1199.98;
$screen-lg: 991.98;
$screen-md: 767.98;
$screen-sm: 479.98;

$hoverTime: 0.4s;
$linkTime: 0.8s;
$popupTime: 1.4s;
