<h3 class="footer-popup__title title">
	Политика конфиденциальности
</h3>
<div class="footer-popup__wrapper">
	<div class="footer-popup__content">
		<div class="footer-popup__text">
			<div class="footer-popup__paragraph">
				<p>Ascents уделяет большое внимание защите личной информации своих посетителей и пользователей. В связи с этим
					настоящая Политика конфиденциальности (далее — «Политика конфиденциальности») содержит описание того, как
					Ascents. совместно со своими аффилированными компаниями, действующими во всем мире (далее — «Ascents», «мы»,
					«наш» или «мы») собирает и использует вашу Личную информацию и обменивается вашей Личной информацией с другими
					лицами, а также разъясняет ваши права в отношении указанной Личной информации. Настоящая Политика
					конфиденциальности действует в отношении всех пользователей Ascents, включая незарегистрированных посетителей,
					зарегистрированных пользователей и привилегированных пользователей (далее совместно именуются следующим
					образом:
					«Пользователи», «вы» или «ваш»), а также в отношении всех услуг Ascents, включая наши веб-сайты (в том числе
					Ascents.com и все его поддомены, далее — «Веб-сайт»), веб-приложения (далее — «Приложения Ascents»), мобильные
					приложения (далее — «Мобильные приложения») и связанные с ними услуги (далее совместно именуемые «Сервисами»).
					Настоящая Политика конфиденциальности не имеет цели заменить собой условия какого-либо договора, который мы
					заключили с вами, равно как и заменить какие-либо права, которые могут быть у вас в соответствии с другими
					действующими законами в сфере защиты персональных данных.
				</p>
			</div>
			<div class="footer-popup__paragraph">
				<p>
					Перед тем, как получить доступ к нашим Сервисам или начать пользоваться ими, ознакомьтесь с данной политикой и
					убедитесь в том, что вы полностью понимаете наши правила и процедуры в отношении вашей Личной информации. Если
					вы после прочтения и достижения полного понимания данной Политики конфиденциальности и не согласны с нашими
					правилами и процедурами, вы обязаны немедленно прекратить пользование всеми нашими Сервисами. Если у вас
					имеются
					вопросы или проблемы в отношении данной политики, отправьте нам письмо по адресу Ascents.com.
				</p>
			</div>
			<div class="footer-popup__paragraph">
				<p>
					Чтобы иметь возможность предоставлять вам Сервисы, нам необходимо собирать Личную информацию, относящуюся к
					идентифицированному или идентифицируемому физическому лицу (далее — «Личная информация»). Мы собираем
					предоставляемую вами Личную информацию во время пользования вами Сервисами, а также из других источников. Ниже
					представлены виды вашей Личной информации, которую мы собираем.
				</p>
			</div>
			<div class="footer-popup__paragraph">
				<p>
					Информация, которую вы предоставляете нам. Когда вы регистрируетесь с целью пользования нашими Сервисами,
					приобретаете и (или) регистрируете доменные имена, пользуетесь любыми нашими Сервисами и (или) когда вы
					связываетесь с нами напрямую посредством любого канала связи (например, направляя заявку в службу поддержки
					Wix
					или отправляя письмо по электронной почте), вы можете предоставить нам такую Личную информацию, как имя, адрес
					электронной почты, номер телефона, личную платежную информацию (получаемую от пользователей, пользующихся
					платными услугами), Личную информацию, которую вы включаете в передаваемые нам сообщения, а также Личную
					информацию, содержащуюся в отсканированных идентификационных документах (таких как удостоверение личности,
					водительские права, паспорт или официальные регистрационные документы компании).
				</p>
			</div>
			<div class="footer-popup__paragraph">
				<p>
					Информация, которую мы собираем при пользовании вами Сервисами. Когда вы посещаете, загружаете наши Сервисы и
					(или) пользуетесь ими, мы можем собирать обобщенную Личную информацию о пользовании, например, информацию о
					навигации Посетителей и Пользователей по сайтам и страницам при пользовании Сервисами, о последовательности
					переходов Посетителей и Пользователей по ссылкам, тепловые карты сеансов и информацию о прокрутке страниц;
					Личную информацию, не позволяющую идентифицировать лицо, касающуюся устройства Посетителя или Пользователя,
					его
					операционной системы, интернет-браузера, разрешения экрана, настроек языка и клавиатуры, интернет-провайдера,
					страниц, через которые Посетитель или Пользователь переходили на Сервисы / покидали Сервисы, меток
					даты/времени
					и т. п.
				</p>
			</div>
			<div class="footer-popup__paragraph">
				<p>
					Информация, которую мы собираем из других источников. Мы можем получать вашу Личную информацию из сторонних
					источников, например: i) от поставщиков услуг в сфере безопасности и поставщиков услуг в сфере обнаружения и
					предотвращения мошенничества — в частности, чтобы помочь нам не допускать к Сервисам пользователей, связанных
					с
					мошенничеством; ii) из социальных сетей — когда вы совершаете вход в систему или регистрируетесь в ней,
					используя учетную запись в социальных сетях, мы можем получать Личную информацию (например, ваше имя
					пользователя, Личную информацию о базовом профиле) от поставщиков таких услуг, а в некоторых случаях мы можем
					собирать Личную информацию от ведущих компаний, улучшающих наши сервисы; iii) от рекламных и маркетинговых
					партнеров, в целях отслеживания наших рекламных кампаний, управления этими кампаниями и сбора статистических
					данных по ним.
				</p>
			</div>
			<div class="footer-popup__paragraph">
				<p>
					Мы также можем собирать Личную информацию посетителей и пользователей веб-сайтов или сервисов наших
					Пользователей (далее — «Пользователи-наших-Пользователей») исключительно
					от лица наших Пользователей
				</p>
			</div>
		</div>
	</div>
</div>