<h3 class="footer-popup__title title">
	Privacy Policy
</h3>
<div class="footer-popup__wrapper">
	<div class="footer-popup__content">
		<div class="footer-popup__text">
			<div class="footer-popup__paragraph">
				<p>Ascents is committed to protecting the privacy of its visitors and users. In this regard, this Privacy Policy
					(hereinafter - the "Privacy Policy") contains a description of how Ascents. together with its affiliated
					companies operating around the world (hereinafter - "Ascents", "we", "our" or "we") collects and uses your
					Personal Information and exchanges your Personal Information with others, as well as clarifies your rights in
					in relation to the specified Personal Information. This Privacy Policy applies to all Ascents users, including
					unregistered visitors, registered users and privileged users (hereinafter collectively referred to as “Users”,
					“you” or “your”), as well as to all Ascents services, including our web -sites (including Ascents.com and all
					its subdomains, hereinafter referred to as "Website"), web applications (hereinafter referred to as "Ascents
					Applications"), mobile applications (hereinafter referred to as "Mobile Applications") and related services
					(hereinafter collectively referred to as the "Services"). This Privacy Policy is not intended to replace the
					terms of any contract that we have entered into with you, nor is it intended to replace any rights that you
					may have under other applicable data protection laws.
				</p>
			</div>
			<div class="footer-popup__paragraph">
				<p>Before accessing or using our Services, please read this policy and make sure you fully understand our
					policies and procedures in relation to your Personal Information. If you after reading and reaching a full
					understanding of this Privacy Policy and do not agree with our rules and procedures, you must immediately stop
					using all of our Services. If you have there are For questions or concerns regarding this policy, please email
					us at Ascents.com.
				</p>
			</div>
			<div class="footer-popup__paragraph">
				<p>
					To be able to provide the Services to you, we need to collect Personal Information relating to an identified
					or identifiable natural person (hereinafter “Personal Information”). We collect the Personal Information you
					provide when you use the Services, as well as from other sources. Below are the types of Personal Information
					we collect from you.
				</p>
			</div>
			<div class="footer-popup__paragraph">
				<p>
					Information you provide to us. When you register to use our Services, purchase and / or register domain names,
					use any of our Services, and / or when you contact us directly through any communication channel (for example,
					by submitting a request to Wix Support
					or by sending an email), you may provide us with Personal Information such as name, email address, telephone
					number, personal billing information (collected from users using paid services), Personal Information that you
					include in messages sent to us, and Personal information contained in scanned identification documents (such
					as an ID card, driver's license, passport, or official company registration documents).
				</p>
			</div>
			<div class="footer-popup__paragraph">
				<p>
					Information we collect when you use the Services. When you visit, download our Services and
					(or) use them, we may collect aggregate Personal Usage Information, such as information about
					navigation of Visitors and Users on sites and pages when using the Services, about the sequence
					Visitors 'and Users' clicks on links, session heatmaps and page scrolling information;
					Personal information that does not allow identifying a person relating to the device of the Visitor or User,
					its operating system, internet browser, screen resolution, language and keyboard settings, internet service
					provider,
					pages through which the Visitor or User went to the Services / left the Services, date / time stamps, etc.
				</p>
			</div>
			<div class="footer-popup__paragraph">
				<p>
					Information We Collect From Other Sources. We may receive your Personal Information from third parties
					sources, for example: i) from security service providers and detection service providers and
					fraud prevention - in particular, to help us prevent users from accessing the Services
					with fraud; ii) from social networks - when you log in or register with it,
					using a social media account, we may receive Personal Information (for example, your name
					user, Personal information about the base profile) from the providers of such services, and in some cases we
					may
					collect Personal Information from leading companies that improve our services; iii) from advertising and
					marketing
					partners, in order to track our advertising campaigns, manage these campaigns and collect statistical
					data on them.
				</p>
			</div>
			<div class="footer-popup__paragraph">
				<p>
					We may also collect Personal Information of visitors and users of the websites or services of our Users
					(hereinafter - "Users-our-Users") solely on behalf of our Users
				</p>
			</div>
		</div>
	</div>
</div>