<section class="form-data form" style="background-image: url(../../img/bg/form-data_bg.jpg);">
	<div class="container">
		<h2 class="form-data__title title anim-item">
			Leave an application
		</h2>
	</div>
	<span class="form-data__decor decor anim-item"></span>

	<div class="container">
		<div class="form-data__text form-data__text--top form__text">
			<p>
				Leave your details and we will contact you to discuss the details of the tour
			</p>
		</div>

		<form class="form-data__wrapper form__wrapper">
			<div class="form-data__item form__item">
				<label class="form-data__label label">
					<input class="form-data__input form-data__input--name input" type="text" autocomplete="off" name="name"
						placeholder="Your name" required>
				</label>
			</div>
			<div class="form-data__item form__item">
				<label class="form-data__label label">
					<input class="form-data__input form-data__input--tel input" type="tel" autocomplete="off" name="tel"
						placeholder="Your phone number" required>
				</label>
			</div>
			<button class="form-data__btn button" type="submit">Send</button>
		</form>

		<div class="form-data__text form-data__text--bottom form__text">
			<p>*By clicking on the "Send" button, you agree to the processing of personal data</p>
		</div>

	</div>
</section>