<section class="gallery" id="_gallery">
	<div class="gallery__container container">
		<h2 class="gallery__title title anim-item">
			Gallery
		</h2>
	</div>

	<div class="gallery__decor decor anim-item"></div>

	<div class="gallery__container container">
		<div class="gallery__wrapper">
			<a class="gallery__item big" href="img/gallery/image_1.jpg">
				<img class="gallery__img" src="img/gallery/image_1.jpg" alt="Clouds in the mountains">
			</a>

			<a class="gallery__item" href="img/gallery/image_2.jpg">
				<img class="gallery__img" src="img/gallery/image_2.jpg" alt="On the top of a mountain">
			</a>

			<a class="gallery__item middle-out" href="img/gallery/image_3.jpg">
				<img class="gallery__img" src="img/gallery/image_3.jpg" alt="At the peak of the mountain">
			</a>

			<a class="gallery__item tall" href="img/gallery/image_4.jpg">
				<img class="gallery__img" src="img/gallery/image_4.jpg" alt="Selfie in the mountains">
			</a>

			<a class="gallery__item big small-out" href="img/gallery/image_5.jpg">
				<img class="gallery__img" src="img/gallery/image_5.jpg" alt="Sunset in the mountains">
			</a>
		</div>

		<a class="gallery__more" href="img/gallery/image_1.jpg">
			Watch more
		</a>
	</div>
</section>