<section class="gallery" id="_gallery">
	<div class="gallery__container container">
		<h2 class="gallery__title title anim-item">
			Галерея
		</h2>
	</div>

	<div class="gallery__decor decor anim-item"></div>

	<div class="gallery__container container">
		<div class="gallery__wrapper">
			<a class="gallery__item big" href="img/gallery/image_1.jpg">
				<img class="gallery__img" src="img/gallery/image_1.jpg" alt="Облака в горах">
			</a>

			<a class="gallery__item" href="img/gallery/image_2.jpg">
				<img class="gallery__img" src="img/gallery/image_2.jpg" alt="На вершине горы">
			</a>

			<a class="gallery__item middle-out" href="img/gallery/image_3.jpg">
				<img class="gallery__img" src="img/gallery/image_3.jpg" alt="На пике горы">
			</a>

			<a class="gallery__item tall" href="img/gallery/image_4.jpg">
				<img class="gallery__img" src="img/gallery/image_4.jpg" alt="Селфи в горах">
			</a>

			<a class="gallery__item big small-out" href="img/gallery/image_5.jpg">
				<img class="gallery__img" src="img/gallery/image_5.jpg" alt="Закат в горах">
			</a>
		</div>

		<a class="gallery__more" href="img/gallery/image_1.jpg">
			Смотреть еще
		</a>
	</div>
</section>