<section class="form-connect form" action="#" style="background-image: url(../../img/bg/form-bg.jpg);">

	<div class="container">
		<h2 class="form-connect__title title anim-item">
			Contact us
		</h2>
	</div>

	<div class="form-connect__decor decor anim-item"></div>

	<div class="container">
		<div class="form-connect__text form__text">
			<p>
				Still have questions?
			</p>
			<p>
				Ask a question through the feedback form and we will answer you promptly
			</p>
		</div>

		<form class="form-connect__wrapper form__wrapper">

			<div class="form-connect__item form__item">
				<label class="form-connect__label label">
					<input class="form-connect__input form-connect__input--name input" type="text" name="name" autocomplete="off"
						placeholder="Your Name" required>
				</label>
			</div>

			<div class="form-connect__item form__item">
				<label class="form-connect__label label">
					<input class="form-connect__input form-connect__input--tel input" type="tel" name="tel" autocomplete="off"
						placeholder="Your phone number" required>
				</label>
			</div>

			<div class="form-connect__item form__item">
				<label class="form-connect__label label">
					<input class="form-connect__input form-connect__input--mail input" type="e-mail" name="e-mail"
						autocomplete="off" placeholder="Your E-mail" required />
				</label>
			</div>

			<div class="form-connect__item form__item">
				<label class="form-connect__label label">
					<textarea class="form-connect__textarea textarea" autocomplete="off" placeholder="Your message"></textarea>
				</label>
			</div>

			<button class="form-connect__btn button" type="submit">Send</button>

		</form>

	</div>
</section>