<section class="card" style="background-image: url(../../img/cards/card_1.jpg);">
	<div class="card__content">

		<h3 class="card__title">
			Эльбрус с севера -
			<span class="card__title-bottom">Восточная вершина</span>
		</h3>

		<ul class="card__list">
			<li class="card__item">
				<div class="card__text">
					<svg class="card__icon">
						<use xlink:href="img/sprite.svg#mountain-icon"></use>
					</svg>
					Высотная сложность
				</div>
				<div class="card__value">
					5/10
				</div>
			</li>

			<li class="card__item">
				<div class="card__text">
					<svg class="card__icon">
						<use xlink:href="img/sprite.svg#difficulty"></use>
					</svg>
					Техническая сложность
				</div>
				<div class="card__value">
					4/10
				</div>
			</li>

			<li class="card__item">
				<div class="card__text">
					<svg class="card__icon">
						<use xlink:href="img/sprite.svg#extent"></use>
					</svg>
					Длительность
				</div>
				<div class="card__value">
					10 дней
				</div>
			</li>

			<li class="card__item">
				<div class="card__text">
					<svg class="card__icon">
						<use xlink:href="img/sprite.svg#dollar"></use>
					</svg>
					Цена от:
				</div>
				<div class="card__value">
					600$
				</div>
			</li>
		</ul>

		<a type="button" class="card__more button popup-link" href="#card-1">
			Подробнее
		</a>

	</div>
</section>