<section class="form-request form" action="#">
	<h2 class="form-request__title title">
		Application for participation
	</h2>

	<form class="form-request__inner">

		<div class="form-request__item">
			<svg class="form-request__icon">
				<use xlink:href="img/sprite.svg#user"></use>
			</svg>
			<label class="form-request__label label">
				<input class="form-request__input form-request__input--name input" type="text" name="name" autocomplete="off"
					placeholder="Your name">
			</label>
		</div>

		<div class="form-request__item">
			<svg class="form-request__icon">
				<use xlink:href="img/sprite.svg#phone"></use>
			</svg>
			<label class="form-request__label label">
				<input class="form-request__input form-request__input--tel input" type="tel" name="tel" autocomplete="off"
					placeholder="Your phone number">
			</label>
		</div>

		<div class="form-request__item">
			<svg class="form-request__icon">
				<use xlink:href="img/sprite.svg#envelope-mini"></use>
			</svg>
			<label class="form-request__label label">
				<input class="form-request__input form-request__input--mail input" type="e-mail" name="e-mail"
					autocomplete="off" placeholder="Your E-mail">
			</label>
		</div>

		<button class="form-request__btn button" type="submit">Send</button>

		<div class="form-request__text form__text">
			<p>
				* By clicking on the "Submit" button, you agree
				for the processing of personal data
			</p>
		</div>
	</form>
</section>