<section class="form-request form" action="#">
	<h2 class="form-request__title title">
		Заявка на участие
	</h2>

	<form class="form-request__inner">

		<div class="form-request__item">
			<svg class="form-request__icon">
				<use xlink:href="img/sprite.svg#user"></use>
			</svg>
			<label class="form-request__label label">
				<input class="form-request__input form-request__input--name input" type="text" name="name" autocomplete="off"
					placeholder="Ваше имя">
			</label>
		</div>

		<div class="form-request__item">
			<svg class="form-request__icon">
				<use xlink:href="img/sprite.svg#phone"></use>
			</svg>
			<label class="form-request__label label">
				<input class="form-request__input form-request__input--tel input" type="tel" name="tel" autocomplete="off"
					placeholder="Ваш телефон">
			</label>
		</div>

		<div class="form-request__item">
			<svg class="form-request__icon">
				<use xlink:href="img/sprite.svg#envelope-mini"></use>
			</svg>
			<label class="form-request__label label">
				<input class="form-request__input form-request__input--mail input" type="e-mail" name="e-mail"
					autocomplete="off" placeholder="Ваш E-mail">
			</label>
		</div>

		<button class="form-request__btn button" type="submit">Отправить</button>

		<div class="form-request__text form__text">
			<p>
				*Нажимая на кнопку “Отправить”, Вы соглашаетесь
				на обработку персональных данных
			</p>
		</div>
	</form>
</section>