<section class="request-popup popup" id="request-popup">
	<div class="request-popup__body popup__body">
		<a class="request-popup__close popup-close close-popup" href="#">
		</a>
		@@include("../request-popup/request-popup.html",{})
	</div>
</section>

<section class="footer-popup popup" id="consent-popup">
	<div class="footer-popup__body popup__body">
		<a class="footer-popup__close popup-close close-popup" href="#"></a>
		@@include("../footer-popup/footer-popup.html",{})
	</div>
</section>

<section class="footer-popup popup" id="policy-popup">
	<div class="footer-popup__body popup__body">
		<a class="footer-popup__close popup-close close-popup" href="#"></a>
		@@include("../footer-popup/footer-popup--policy.html",{})
	</div>
</section>

<section class="card-popup popup" id="card-1">
	<div class="card-popup__body popup__body">
		<a class="card-popup__close popup-close close-popup" href="#"></a>
		@@include("../card-popup/popup-1.html",{})
	</div>
</section>

<section class="card-popup popup" id="card-2">
	<div class="card-popup__body popup__body">
		<a class="card-popup__close popup-close close-popup" href="#"></a>
		@@include("../card-popup/popup-2.html",{})
	</div>
</section>

<section class="card-popup popup" id="card-3">
	<div class="card-popup__body popup__body">
		<a class="card-popup__close popup-close close-popup" href="#"></a>
		@@include("../card-popup/popup-3.html",{})
	</div>
</section>