<header class="header lock-padding _fixed" id="header">
	<div class="header__container container">
		<a class="header__logo logo _goto" data-goto=".hero" href="#hero">
			<img class="header__logo-img logo-img" src="img/logo.png" alt="logo">
		</a>
		<button class="menu__icon burger" type="button">
			<span class="sr-only">Open menu</span>
			<span class="burger__middle"></span>
		</button>
		<div class="menu">
			<a class="menu__logo logo _goto" data-goto=".hero" href="#hero"
				style="background-image: url(../../img/logo.png);">
			</a>
			<nav class="menu__body">
				<ul class="menu__list">
					<li class="menu__item">
						<a class="menu__link _goto" data-goto=".itineraries" href="#itineraries">Itinerary</a>
					</li>
					<li class="menu__item">
						<a class="menu__link _goto" data-goto=".advantages" href="#advantages">About us
						</a>
					</li>
					<li class="menu__item">
						<a class="menu__link _goto" data-goto=".gallery" href="#_gallery">Gallery</a>
					</li>
					<li class="menu__item">
						<a class="menu__link _goto" data-goto=".reviews" href="#reviews">Reviews</a>
					</li>
					<li class="menu__item">
						<a class="menu__link _goto" data-goto=".footer" href="#footer">Contacts</a>
					</li>
				</ul>

				<a class="menu__tel" href="tel:+380968673444">+380(96)867-34-44</a>

				<ul class="radiobuttons">
					<li class="radiobuttons__item">
						<a class="radiobuttons__link" href="../../index.html">Ru</a>
					</li>
					<li class="radiobuttons__item active">
						<a class="radiobuttons__link" href="../../index-en.html">Eng</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>