<section class="reviews" id="reviews" style="background-image: url(../../img/bg/earth.png);" anim-item>
	<div class="container">

		<ul class="reviews__top">
			<li class="reviews__item reviews__item--successful">
				<span class="reviews__result anim-item _anim-no-hide">89</span>
				<span class="reviews__success anim-item _anim-no-hide">
					Успешных восхождений
				</span>
			</li>

			<li class="reviews__item reviews__item--happy">
				<span class="reviews__result anim-item _anim-no-hide">675</span>
				<span class="reviews__success anim-item _anim-no-hide">
					Довольных туристов
				</span>
			</li>

			<li class="reviews__item reviews__item--completed">
				<span class="reviews__result anim-item _anim-no-hide">653</span>
				<span class="reviews__success anim-item _anim-no-hide">
					Покорившие вершину
				</span>
			</li>
		</ul>

		<h2 class="reviews__title title anim-item">
			Отзывы
		</h2>
	</div>

	<div class="reviews__decor decor anim-item"></div>

	<div class="reviews__container">

		<div class="swiper-reviews">
			<ul class="swiper-reviews__wrapper">
				<li class="swiper-reviews__slide">
					<div class="reviews__person">
						<img class="reviews__avatar" src="../../img/avatar/ivanovS.png" alt="Иванов Сергей">
						<span class="reviews__name">
							Иванов Сергей
						</span>
						<span class="reviews__date">
							Восхождение в Сентябре 2019
						</span>
					</div>
					<div class="reviews__text">
						<p>
							В хорошую погоду двуглавый великан Эльбрус отлично виден. Кажется, ну что там, идти до вершины - вот
							она, рукой подать.
							Мы были на Западной вершине Эльбруса в сентябре 2019.
						</p>
						<p>
							В сопровождении опытных гидов. Погода была не ахти. Но мы дождались окошка в погоде - и это был
							прекрасный
							выход. Гиды помагают тщательно подготовиться! Комфортно продуман план восхождения! Налюбовались с
							вершины
							Эльбруса прекрасной панорамой окрестных гор.
						</p>
					</div>
				</li>

				<li class="swiper-reviews__slide">
					<div class="reviews__person">
						<img class="reviews__avatar" src="../../img/avatar/avatar.png" alt="Аватар">
						<span class="reviews__name">
							Аватар
						</span>
						<span class="reviews__date">
							Восхождение в Августе 2220
						</span>
					</div>
					<div class="reviews__text">
						<p>
							Таким образом, дальнейшее развитие различных форм деятельности позволяет оценить важность
							позиции участников по отношению к поставленным задачам.
						</p>
						<p>
							Товарищи! дальнейшее развитие различных форм деятельности позволяет нам решать важные задачи по
							развивать дальнейшие направления развития. Задача организации, особенно дальнейшая
							развитие различных форм деятельности, влечет за собой процесс внедрения и модернизации систем
							массовое участие.
						</p>
					</div>
				</li>

				<li class="swiper-reviews__slide">
					<div class="reviews__person">
						<img class="reviews__avatar" src="../../img/avatar/spangebob.png" alt="Губка Боб">
						<span class="reviews__name">
							Губка Боб квадратные штаны
						</span>
						<span class="reviews__date">
							Восхождение в июне 1990
						</span>
					</div>
					<div class="reviews__text">
						<p>
							- Если они считают, что ты глуп, то они просто не видели настоящих дураков!
						</p>
						<p>
							- Но они же смотрят телевизор....
						</p>
					</div>
				</li>

				<li class="swiper-reviews__slide">
					<div class="reviews__person">
						<img class="reviews__avatar" src="../../img/avatar/HomerSimpson.png" alt="Гомер Симпсон">
						<span class="reviews__name">
							Гомер Симпсон
						</span>
						<span class="reviews__date">
							Восхождение в сентябре 2015
						</span>
					</div>
					<div class="reviews__text">
						<p>
							Далеко-далеко за горами слов, в стране гласных и согласных обитают тексты рыб. Далеко
							от всех они живут в домах для писем на берегу семантики великого лингвистического океана.
						</p>
						<p>
							Небольшой ручей Даль булькает по всей стране и обеспечивает его по всем необходимым правилам. Это
							парадигматическая страна, в которой жареные члены предложения летят прямо в рот. Даже всемогущий
							пунктуация не имеет власти над текстами с подозрительным содержанием, которые ведут не изобразительный
							образ жизни.
						</p>
					</div>
				</li>

				<li class="swiper-reviews__slide">
					<div class="reviews__person">
						<div class="reviews__avatar">
							<img class="reviews__img" src="../../img/avatar/DartVaider.png" alt="Дарт Вейдер">
						</div>
						<span class="reviews__name">
							Darth Vader
						</span>
						<span class="reviews__date">
							Восхождение в декабре 3333
						</span>
					</div>
					<div class="reviews__text">
						<p>
							И мятеж джедаев потерпел крах. Оставшиеся джедаи будут нами найдены и разгромлены!…
						</p>
						<p>
							От покушения на мою жизнь у меня шрамы остались.
						</p>
						<p>
							Я обезображен!
						</p>
						<p>
							Но я вас заверяю, моя решимость как никогда сильна и велика!
						</p>
						<p>
							В целях обеспечения безопасности и большей стабильности, Республика будет реорганизована нами в первую
							Галактическую Империю, во имя сохранности и во имя блага общества!
						</p>
					</div>
				</li>
			</ul>
		</div>

		<div class="swiper-reviews__box">
			<div class="swiper-reviews__arrow swiper-reviews__arrow--prev">
				<svg class="swiper-reviews__icon">
					<use xlink:href="img/sprite.svg#p-left"></use>
				</svg>
			</div>
			<div class=" swiper-reviews__arrow swiper-reviews__arrow--next">
				<svg class="swiper-reviews__icon">
					<use xlink:href="img/sprite.svg#p-right"></use>
				</svg>
			</div>
		</div>

		<div class="swiper-reviews__pagination"></div>
	</div>
</section>