<section class="reviews" id="reviews" style="background-image: url(img/bg/earth.png);">
	<div class="container">

		<ul class="reviews__top">
			<li class="reviews__item reviews__item--successful">
				<span class="reviews__result anim-item _anim-no-hide">89</span>
				<span class="reviews__success anim-item _anim-no-hide">
					Successful ascents
				</span>
			</li>

			<li class="reviews__item reviews__item--happy">
				<span class="reviews__result anim-item _anim-no-hide">675</span>
				<span class="reviews__success anim-item _anim-no-hide">
					Satisfied tourists
				</span>
			</li>

			<li class="reviews__item reviews__item--completed">
				<span class="reviews__result anim-item _anim-no-hide">653</span>
				<span class="reviews__success anim-item _anim-no-hide">
					Conquered the top
				</span>
			</li>
		</ul>

		<h2 class="reviews__title title anim-item">
			Reviews
		</h2>
	</div>

	<div class="reviews__decor decor anim-item"></div>

	<div class="reviews__container">

		<div class="swiper-reviews">
			<ul class="swiper-reviews__wrapper">

				<li class="swiper-reviews__slide">
					<div class="reviews__person">
						<img class="reviews__avatar" src="img/avatar/ivanovS.png" alt="Ivanov Sergey">
						<span class="reviews__name">
							Ivanov Sergey
						</span>
						<span class="reviews__date">
							Ascent in September 2019
						</span>
					</div>
					<div class="reviews__text">
						<p>
							In good weather, the two-headed giant Elbrus is perfectly visible. It seems, well there, to go to the top
							- voton, a stone's throw.
							We were at the Western Summit of Elbrus in September 2019.
						</p>
						<p>
							Accompanied by experienced guides. The weather was not so hot. But we waited for a window in the weather -
							and it was a wonderful way out. Guides will help you to prepare thoroughly! The ascent plan is comfortably
							thought out! We admired the summits of Elbrus with a beautiful panorama of the surrounding mountains.
						</p>
					</div>
				</li>

				<li class="swiper-reviews__slide">
					<div class="reviews__person">
						<img class="reviews__avatar" src="img/avatar/avatar.png" alt="Avatar">
						<span class="reviews__name">
							Avatar
						</span>
						<span class="reviews__date">
							Ascent in August 2220
						</span>
					</div>
					<div class="reviews__text">
						<p>
							Thus, the further development of various forms of activity makes it possible to assess the importance of
							the positions taken by the participants in relation to the tasks set.
						</p>
						<p>
							Comrades! further development of various forms of activity allows us to carry out important tasks to
							develop further directions of development. The task of the organization, especially the further
							development of various forms of activity, entails the process of introducing and modernizing systems of
							mass participation.
						</p>
					</div>
				</li>

				<li class="swiper-reviews__slide">
					<div class="reviews__person">
						<img class="reviews__avatar" src="img/avatar/spangebob.png" alt="SpongeBob Squarepants">
						<span class="reviews__name">
							SpongeBob Squarepants
						</span>
						<span class="reviews__date">
							Ascent in June 1990
						</span>
					</div>
					<div class="reviews__text">
						<p>
							- If they think you're stupid, then they just haven't seen real fools!
						</p>
						<p>
							- But they watch TV ...
						</p>
					</div>
				</li>

				<li class="swiper-reviews__slide">
					<div class="reviews__person">
						<img class="reviews__avatar" src="img/avatar/HomerSimpson.png" alt="Homer Simpson">
						<span class="reviews__name">
							Homer Simpson
						</span>
						<span class="reviews__date">
							Ascent in September 2015
						</span>
					</div>
					<div class="reviews__text">
						<p>
							Far, far beyond the mountains of words, in the land of vowels and consonants, fish texts live. Far away
							from everyone, they live in letter houses on the shore of the Semantics of the great linguistic ocean.
						</p>
						<p>
							A small brook Dahl gurgles throughout the country and provides it with all the necessary rules. This is a
							paradigmatic country in which the fried members of the sentence fly right into the mouth. Even omnipotent
							punctuation has no power over fishy texts that lead a non-pictorial lifestyle.
						</p>
					</div>
				</li>

				<li class="swiper-reviews__slide">
					<div class="reviews__person">
						<img class="reviews__avatar" src="img/avatar/DartVaider.png" alt="Darth Vader">
						<span class="reviews__name">
							Darth Vader
						</span>
						<span class="reviews__date">
							Ascent in December 3333
						</span>
					</div>
					<div class="reviews__text">
						<p>
							And the Jedi rebellion failed.
							The remaining Jedi will be found and defeated by us!
							... From the attempt on my life, I still have scars. I'm disfigured! But I assure you, my determination is
							both
							never strong and great!
						</p>
						<p>
							In order to ensure security and greater stability, the Republic will be reorganized by us in the first
							Galactic Empire, for the sake of safety and for the good of society!
						</p>
					</div>
				</li>
			</ul>
		</div>

		<div class="swiper-reviews__box">
			<div class="swiper-reviews__arrow swiper-reviews__arrow--prev">
				<svg class="swiper-reviews__icon">
					<use xlink:href="img/sprite.svg#p-left"></use>
				</svg>
			</div>
			<div class=" swiper-reviews__arrow swiper-reviews__arrow--next">
				<svg class="swiper-reviews__icon">
					<use xlink:href="img/sprite.svg#p-right"></use>
				</svg>
			</div>
		</div>

		<div class="swiper-reviews__pagination"></div>
	</div>
</section>